/* styles.css */
/* styles.css */
.app.dark {
  background-color: #333;
  color: #fff;
}

.app.light {
  background-color: #f2f2f2;
  color: #333;
}

.main-component.dark {
  border: 1px solid #fff;
}

.main-component.light {
  border: 1px solid #333;
}

.login.dark {
  background-color: #666;
}

.login.light {
  background-color: #f5f5f5;
}

.custom-button {
  padding: 10px;
  border: none;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
}

.custom-button.dark {
  background-color: #666;
  color: #fff;
}

.custom-button.light {
  background-color: #f5f5f5;
}
